---
title: Maintaining a Fozzie module
section-title: Open source
description:
docs: true

navgroup: documentation
navsub: open-source
navactive: os-maintenance
---

<a name="required-changes-for-all-pull-requests"></a>
## Required changes for all pull requests

- Version bump in `package.json` `"version"` section.
- Update the `changelog` file, following the [Keep a Changelog](http://keepachangelog.com/en/1.0.0/) guidelines


<a name="publishing-changes-to-npm"></a>
## Publishing changes to npm

See the [Publishing to npm]({{ baseUrl }}/documentation/open-source/#publishing-to-npm) section for details.


<a name="creating-a-release-on-github"></a>
## Creating a release on GitHub

- Ensure you have the latest changes in your master branch
- Add a tag in the format `v1.2.3` (semver) — `git tag -m "" v1.2.3`
- Push the tag up to GitHub — `git push origin --tags`
- Go to the repository releases page
- Select the tag which was pushed
- Paste the relevant content from the Changelog into the description textbox
- Click "Publish release"
