---
title: Utility tools
section-title: Open source
description:
docs: true

navgroup: documentation
navsub: open-source
navactive: os-tools
---

<h2 class="sg-sectionHeading">Danger.js</h2><a name="dangerjs"></a>

[Danger.js](http://danger.systems/js/) is a tool that we use to automate certain aspects of our code review process.

Checks that we automate include:
- Ensuring that the `package.json` has been updated so that the package can be successfully published to NPM
- Making sure that each code change has an entry in the packages `CHANGELOG` so that the history is kept up to date.

We automate Danger.js checks through Travis once a package is moved from being private to public.

---

### Setting up Danger.js on a repository

To setup Danger.js to run checks automatically on your repositories PRs, follow these steps:

- In the root folder of your project, run `yarn add danger --dev` in the terminal to add Danger.js as a development dependency.
- Ensure you have a `.travis.yml` in your project root and that it has the script setting – `yarn danger ci` – such as it's shown in [**generator-fozzie**](https://github.com/justeat/generator-fozzie/blob/master/generators/app/templates/.travis.yml.tpl).
- Add a `dangerfile.js` to the root of your repository and make sure it [matches the one in the generator](https://github.com/justeat/generator-fozzie/blob/master/generators/app/templates/dangerfile.js.tpl).
- Ensure you have a `.babelrc` file in the root of your project and that it contains at least an empty object `{}`.  This is because of an issue with `babel-jest` which [needs to be worked around for now](https://github.com/danger/danger-js/issues/261).
- Once the above is done, you need to allow `fozzie-bot` (our Github bot account) to post on your project PRs on behalf of Danger.js.
    - First of all, your repository will need to be public (see the [Web Wiki for details on the steps to do this](https://github.com/justeat/Web.Wiki#open-sourcing-a-web-ui-component)).
    - Once public, go to [https://travis-ci.org/justeat/](https://travis-ci.org/justeat/) and find your module in the list of repositories (you may need to click on the "Sync account" button in [your profile](https://travis-ci.org/profile/justeat) to update your list of Github packages and make sure the package is ticked in the list of packages displayed).
    - Then go to "More Options > Settings" for your repository in Travis (see image below).  Then add the following environment variable:
    &nbsp;
    `DANGER_GITHUB_API_TOKEN = 4bfc11771f8c0e6041338f3c30b8f268a3f6856e`
    &nbsp;
    Make sure you switch the option to "Display value in build log" to `On` – this is so that the module can also run the checks on PRs submitted from a fork of your Github repo.
    ![Travis Settings]({{baseUrl}}/assets/img/os/travis-settings.png)
- Make a PR and merge the above changes into your repository.
