<header class="l-inlined--top">
    <h4 class="u-spacingRight">Build your own pizza</h4>
</header>

<p>Choose your size, crust, and toppings</p>

<p class="l-inlined">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/vegetarian.svg" class="c-icon c-icon--vegetarian"}}
    vegetarian

    {{inlineSVG "@justeat/f-icons/src/img/icons/general/spicy.svg" class="c-icon c-icon--spicy u-spacingLeft"}}
    mild spicy
</p>
