<header class="l-inlined--top">
    <h4 class="u-spacingRight">Build your own pizza with a really long name</h4>
    <span class="c-badge c-badge--angled c-badge--important u-spacingTop--small">Buy 1 get 1 free</span>
</header>

<p>Long description arcu. Curabitur eleifend, urna tincidunt mollis ornare, dui nulla sollicitudin quam, et ornare mauris lorem magna.</p>

<p class="l-inlined">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/vegetarian.svg" class="c-icon c-icon--vegetarian"}}
    vegetarian

    {{inlineSVG "@justeat/f-icons/src/img/icons/general/spicy.svg" class="c-icon c-icon--spicy u-spacingLeft"}}
    mild spicy
</p>
