<a class="c-card c-card--outline c-card--outline--aboveMid c-card--rounded--large c-card--normaliseLinks u-spacingBottom u-noUnderline--all u-color-text" href="">
    <div class="g g--gutter">
        <div class="g-col g-span10">
            {{> (lookup . 'item-type') }}
        </div>
        <div class="g-col g-span2">
            <p class="u-noSpacing u-text-right u-color-link">from &pound;16.75</p>
        </div>
    </div>
</a>
