{
    "rules": {
        "at-rule-no-vendor-prefix": true,
        "block-closing-brace-newline-after": ["always",{
            "ignoreAtRules": ["if", "else"]
        }],
        "block-closing-brace-newline-before": "always-multi-line",
        "block-closing-brace-space-before": "always-single-line",
        "block-no-empty": true,
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always-multi-line",
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-no-invalid-hex": true,
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-single-line-max-declarations": 3,
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-after": "always",
        "function-calc-no-unspaced-operator": true,
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-parentheses-space-inside": "never",
        "function-whitespace-after": "always",
        "function-url-quotes": "always",
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": true,
        "max-nesting-depth": 4,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "never",
        "media-feature-parentheses-space-inside": "never",
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-missing-end-of-source-newline": true,
        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,
        "property-case": "lower",
        "property-no-unknown": true,
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-space-before": "never",
        "selector-list-comma-space-after": "always-single-line",
        "selector-max-compound-selectors": 5,
        "selector-max-specificity": "0,5,0",
        "selector-no-vendor-prefix": true,
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-element-no-unknown": true,
        "selector-max-empty-lines": 0,
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single",
        "string-no-newline": true,
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-list-comma-newline-after": "always-multi-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-space-after": "always-single-line",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 0,
        "value-no-vendor-prefix": true
    }
}
