<footer class="c-footer">
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-1">
                <h2 class="c-footer-heading" data-footer-panel-heading data-toggle-target="footer-panel-1" data-toggle-class="is-collapsed">
                    Customer service
                    {{> je-svg-sprite cssClass="c-footer-chevron c-icon--chevron u-showBelowMid" spriteId="icons-arrows-chevron" }}
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">Log in</a>
                    </li>
                    <li>
                        <a href="#">Sign up</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Mobile apps</a>
                    </li>
                    <li>
                        <a href="#">Suggest a restaurant</a>
                    </li>
                    <li>
                        <a href="#">My account</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-2">
                <h2 class="c-footer-heading" data-footer-panel-heading data-toggle-target="footer-panel-2" data-toggle-class="is-collapsed">
                    Top cuisines
                    {{> je-svg-sprite cssClass="c-footer-chevron c-icon--chevron u-showBelowMid" spriteId="icons-arrows-chevron" }}
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Chinese</a>
                    </li>
                    <li>
                        <a href="#">Indian</a>
                    </li>
                    <li>
                        <a href="#">Italian</a>
                    </li>
                    <li>
                        <a href="#">Japanese</a>
                    </li>
                    <li>
                        <a href="#">Pizza delivery</a>
                    </li>
                    <li>
                        <a href="#">View all cuisines</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-3">
                <h2 class="c-footer-heading" data-footer-panel-heading data-toggle-target="footer-panel-3" data-toggle-class="is-collapsed">
                    Locations
                    {{> je-svg-sprite cssClass="c-footer-chevron c-icon--chevron u-showBelowMid" spriteId="icons-arrows-chevron" }}
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#">Birmingham</a>
                    </li>
                    <li>
                        <a href="#">Cardiff</a>
                    </li>
                    <li>
                        <a href="#">Glasgow</a>
                    </li>
                    <li>
                        <a href="#">Leeds</a>
                    </li>
                    <li>
                        <a href="#">Manchester</a>
                    </li>
                    <li>
                        <a href="#">View all locations</a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-4">
                <h2 class="c-footer-heading" data-footer-panel-heading data-toggle-target="footer-panel-4" data-toggle-class="is-collapsed">
                    A bit more about us
                    {{> je-svg-sprite cssClass="c-footer-chevron c-icon--chevron u-showBelowMid" spriteId="icons-arrows-chevron" }}
                </h2>
                <ul class="c-footer-list">
                    <li>
                        <a href="#" target="_self">Restaurant sign up</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Price promise</a>
                    </li>
                    <li>
                        <a href="#" target="_self">How do we use cookies?</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Privacy policy / T&amp;Cs</a>
                    </li>
                    <li>
                        <a href="#" target="_self">About us</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Company website</a>
                    </li>
                    <li>
                        <a href="#" target="_self">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-footer-row c-footer-row--light">
        <div class="g g--stack--mid l-container">
            <div class="g-col g-span6">
                <h2 class="c-footer-heading">Download our apps</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    <li class="c-footer-list-item">
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--ios" alt="Download on the App Store" src="{{baseUrl}}/assets/img/icons/appstore/ios.svg">
                        </a>
                    </li>
                    <li class="c-footer-list-item">
                        <a href="#" target="_blank">
                            <img class="c-footer-icon c-icon--android" alt="Get it on Google Play" src="{{baseUrl}}/assets/img/icons/appstore/android.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-social">
                <h2 class="c-footer-heading">Follow us</h2>
                <ul class="c-footer-list c-footer-list--inline">
                    {{> je-footer-social-item socialNetwork="facebook" }}
                    {{> je-footer-social-item socialNetwork="twitter" }}
                    {{> je-footer-social-item socialNetwork="google-plus" }}
                    {{> je-footer-social-item socialNetwork="rss" }}
                    {{> je-footer-social-item socialNetwork="instagram" }}
                    {{> je-footer-social-item socialNetwork="pinterest" }}
                </ul>
            </div>
            <div class="g-col g-span3 c-footer-feedback is-invisible">
                <h2 class="c-footer-heading">Feedback</h2>
                <p class="c-footer-feedbackText">
                    Help us improve our website
                    <br>
                    <a href="#">Send feedback</a>
                </p>
            </div>
        </div>
    </div>
    <div class="l-container c-footer-row">
        <div class="g g--stack--mid">
            <div class="g-col g-span8 c-footer-cards">
                <ul class="c-footer-list c-footer-list--inline">
                    {{> je-footer-card-item cardName="mastercard--securecode" }}
                    {{> je-footer-card-item cardName="visa--verified" }}
                    {{> je-footer-card-item cardName="paypal" }}
                </ul>
            </div>
            <div class="g-col g-span4 c-footer-countries">
                {{> je-country-selector }}
            </div>
        </div>
    </div>
</footer>
