---
title: Component Library
docs: true

layout: site-frame
styleguide: true
---
<div class="u-lightenBg l-divider">
    <div class="l-container">
        {{>je-breadcrumbs current='M5V Toronto' firstParent='Home'}}
    </div>
</div>
<div class="l-container" style="padding-top: 10px; padding-bottom: 10px;">
    <h1 style="display: inline-block;
    margin-right: 16px;">295 restaurants serving Adelaide Street West, M5V Toronto</h1>
    <a href="#" style="text-decoration: none;
    font-weight: 500;">change location</a>       
</div>
<div class="l-container">    
    <div class="g g--stack g--gutter">
        <div class="g-col g-span3--mid g-span2--wide">
            <h2 class="l-inlined">
                {{> je-svg-sprite cssClass="c-icon--inline c-icon--eyeglass" spriteId="icons-tools-eyeglass" }}
                <span style="padding-left: 8px;">Search</span>
            </h2>   
            {{>component-placeholder description='Search Input' css="line-height: 30px;"}}                 
            <h2 class="l-inlined">
                {{> je-svg-sprite cssClass="c-icon--inline c-icon--sortAmount" spriteId="icons-tools-sortAmount" }}
                <span style="padding-left: 8px;">List by</span>
            </h2>
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
            </div>
            <h2 class="l-inlined">
                {{> je-svg-sprite cssClass="c-icon--inline c-icon--forkAndSpoon" spriteId="icons-general-forkAndSpoon" }}
                <span style="padding-left: 8px;">Cuisines</span>
            </h2>
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
            </div>
            <h2 class="l-inlined">
                {{> je-svg-sprite cssClass="c-icon--inline c-icon--slidersHorizontal" spriteId="icons-tools-slidersHorizontal" }}
                <span style="padding-left: 8px;">Refine</span>
            </h2>
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
                </div>
                {{>component-placeholder description='Radio Input' css="line-height: 30px;"}}
            </div>
        </div>
        <div class="g-col g-span9--mid g-span10--wide">
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}                           
            </div>
            <h2 style="margin-bottom: 8px;">19 restaurants taking pre-orders for later</h3>
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}                             
            </div>
            <h2 style="margin-bottom: 8px;">Aren't taking orders</h3>
            <div class="card u-bordered" style="padding-top: 0; padding-bottom: 0;">
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                <div class="l-divider">
                    {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}
                </div>
                {{>component-placeholder description='Restaurant Details' css="line-height: 100px;"}}                          
            </div>
        </div>
    </div>
</div>
