<p class="c-badge c-badge--info c-badge--rounded l-centered u-spacingBottom--large">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/delivery.svg"
        class="c-icon c-icon--inline c-icon--delivery c-icon--delivery--small c-icon--green u-spacingRight"}}
    Delivery free <span>•</span> Min order £10
</p>
