---
title: Menu Header Variations
section-title: UI Templates
docs: true

navgroup: styleguide
navsub: ui-templates
navactive: template-menu
---

<p><em>The <code>badge</code> component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding <code>@include badge();</code> into your SCSS dependencies file.</em></p>

<p>Badges can be used to display small pieces of information.</p>

<h2 class="sg-sectionHeading">Delivery Open</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Delivery Pre-order</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-preorder'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">No Reviews</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    star-rating='00'
    star-rating-display=0 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Closed</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-closed'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}
