---
title: Menu UI Template
docs: true

layout: site-frame
styleguide: true
bodyClass: o-body--bgWhite--belowMid
---

<div class="c-pageBanner c-pageBanner--negativeBottom--aboveMid">
    <picture>
        <source class="c-pageBanner-img" media="(min-width: 860px)" srcset="{{baseUrl}}/assets/img/examples/kebabs-1-uk_1440x617.jpg" data-ft="restaurant-level-image--wide">
        <source class="c-pageBanner-img" media="(min-width: 600px)" srcset="{{baseUrl}}/assets/img/examples/kebabs-1-uk_1080x463.jpg" data-ft="restaurant-level-image--mid">
        <img class="c-pageBanner-img" srcset="{{baseUrl}}/assets/img/examples/kebabs-1-uk_640x274.jpg" alt="" data-ft="restaurant-level-image--narrow" >
    </picture>
</div>
<div class="l-container">
    <div class="g g--stack g--gutter l-content">
        <div class="g-col g-span3--mid g-span2--wide">
        </div>
        <div class="g-col g-span6--mid g-span7--wide">
            {{> je-menu-header status='je-menu-status-delivery-open'}}
        </div>
        <div class="g-col g-span3--mid g-span3--wide">
        </div>
    </div>
</div>
