---
title: Menu Header Variations
section-title: UI Templates
docs: true

navgroup: styleguide
navsub: ui-templates
navactive: template-menu
---

<p>Examples of the various states that the menu header can be in.</p>

<h2 class="sg-sectionHeading">Delivery Open</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Delivery Pre-order</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-preorder'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">No Reviews</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    star-rating='00'
    star-rating-display=0 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Closed</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-closed'
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">New</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    isNew=true
    star-rating=30
    star-rating-display=3
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">BTA Winner</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    isBtaWinner=true
    star-rating=60
    star-rating-display=6
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">With Note</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    showNote=true
    noteToggleName="with-note"
    star-rating=60
    star-rating-display=6
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">With Offer</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    showOffer=true
    star-rating=60
    star-rating-display=6
    star-rating-count=566 }}
{{/demo-block }}

<h2 class="sg-sectionHeading">With Note &amp; Offer</h2>
{{#>demo-block }}
{{> je-menu-header
    status='je-menu-status-delivery-open'
    showNote=true
    noteToggleName="note-and-offer"
    showOffer=true
    star-rating=60
    star-rating-display=6
    star-rating-count=566 }}
{{/demo-block }}
