---
title: Menu UI Template
docs: true

layout: site-frame
styleguide: true
bodyClass: o-body--bgWhite--belowMid
---

{{> je-pageBanner }}

<div class="l-container">
    <div class="g g--stack g--gutter l-content">
        <div class="g-col g-span2--mid u-showAboveMid">
            {{> je-menu
                cssClass="c-menu--spacingTop--aboveMid"
                ariaLabelledBy="categories-title"
                showPopular=true }}
        </div>
        <div class="g-col g-span6--mid">
            {{> je-menu-header
                status='je-menu-status-delivery-open'
                isNew=true
                isBtaWinner=true
                star-rating=30
                star-rating-display=3
                star-rating-count=566
                showNote=true
                noteToggleName="menu-delivery"
                showOffer=true }}
        </div>
        <div class="g-col g-span4--mid">
        </div>
    </div>
</div>
