---
title: Colours
section-title: Design Elements
description: This is the primary and secondary colour palettes as described in the PSD styleguide
docs: true

navgroup: styleguide
navsub: design-els
navactive: colours
---

This is the primary and secondary colour palettes as described in the PSD styleguide and in [colour_palette.scss](https://github.je-labs.com/ICP/app_consumerweb/tree/master/src/ConsumerWeb/Assets/src/scss/color-palette.scss)

<!-- Swatches -->

## Primary Palette
<ul class="g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-primary">
            <div class="sg-swatch-color"></div>
            <code>$color-primary</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary">
            <div class="sg-swatch-color"></div>
            <code>$color-secondary</code>
        </div>
    </li>
</ul>

## Secondary Palette
<ul class="g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary1">
            <div class="sg-swatch-color"></div>
            <code>$yellowPale</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary2">
            <div class="sg-swatch-color"></div>
            <code>$amber</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary3">
            <div class="sg-swatch-color"></div>
            <code>$amberDark</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary4">
            <div class="sg-swatch-color"></div>
            <code>$greenLighter</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary5">
            <div class="sg-swatch-color"></div>
            <code>$greenLight</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary6">
            <div class="sg-swatch-color"></div>
            <code>$greenDark</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary7">
            <div class="sg-swatch-color"></div>
            <code>$pink</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-secondary8">
            <div class="sg-swatch-color"></div>
            <code>$redLight</code>
        </div>
    </li>
</ul>


## Gray Palette
<ul class="g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayLightest">
            <div class="sg-swatch-color"></div>
                <code>$grayLightest</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayLighter">
            <div class="sg-swatch-color"></div>
                <code>$grayLighter</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayLight">
            <div class="sg-swatch-color"></div>
                <code>$grayLight</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-gray">
            <div class="sg-swatch-color"></div>
                <code>$gray</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayDark">
            <div class="sg-swatch-color"></div>
                <code>$grayDark</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayDarker">
            <div class="sg-swatch-color"></div>
                <code>$grayDarker</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grayDarkest">
            <div class="sg-swatch-color"></div>
                <code>$grayDarkest</code>
        </div>
    </li>
</ul>


## Common Colour CSS Variables
<ul class="g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-highlight">
            <div class="sg-swatch-color"></div>
            <code>$color-highlight</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-text">
            <div class="sg-swatch-color"></div>
            <code>$color-text</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-background">
            <div class="sg-swatch-color"></div>
            <code>$color-bg</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-border">
            <div class="sg-swatch-color"></div>
            <code>$color-border</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-link">
            <div class="sg-swatch-color"></div>
            <code>$color-link-default</code>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-link-hover">
            <div class="sg-swatch-color"></div>
            <code>$color-link-hover</code>
        </div>
    </li>
</ul>



