---
title: Colours
section-title: Design Elements
description: This is the primary and secondary colour palettes as described in the PSD styleguide
docs: true

navgroup: styleguide
navsub: design-els
navactive: colours
---

Without colours, our sites would be pretty boring.

This page documents the colour variables available in fozzie, as defined in the Just Eat brand guidelines.

**Important** – When using the colours in your own project/component, don’t use any variables that directly reference a colour such as `$red`.  It’s a much better idea to abstract these colours to a separate variable (i.e. `$btn--bg`) so that should the base colours change and a variable gets deleted or renamed, updating your references will be much easier.

Alternatively, use one of the abstracted variables included in Fozzie, which are detailed below.

---

## Colours by Usage

### Primary and Secondary Colours

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$color-primary</code></p>
                <p class="sg-swatch-text">Main AA Red.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$color-secondary</code></p>
                <p class="sg-swatch-text">Main AA Blue.<br>Used for buttons and links.</p>
            </div>
        </div>
    </li>
</ul>

---

## Main Typographic Colours

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-text</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--dark</code>)</span>
                </p>
                <p class="sg-swatch-text">The default text colour.<br></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-headings</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--darkest</code>)</span>
                </p>
                <p class="sg-swatch-text">Used for headings and filter text.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--mid">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-text--hint</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--mid</code>)</span>
                </p>
                <p class="sg-swatch-text">Used for text hints.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red--brand">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$brand--red</code></p>
                <p class="sg-swatch-text">Official Brand Red.<br>Not fully AA Accessible at smaller font sizes – should only be used for text at larger or bold text sizes.</p>
            </div>
        </div>
    </li>
</ul>

---

## Link Colours

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-link-default</code>
                    <span class="sg-swatch-subText">(uses <code>$blue</code>)</span>
                </p>
                <p class="sg-swatch-text">The default link colour.<br></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-link-hover</code>
                    <span class="sg-swatch-subText">(uses <code>$blue--dark</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour for link hover and focus states.<br></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-link-active</code>
                    <span class="sg-swatch-subText">(uses <code>$blue--darkest</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour for link active states.<br></p>
            </div>
        </div>
    </li>
</ul>

---

## Background colours

Colours to be used for main content, info boxes, notifications, statuses and errors.


<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-white">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg--component</code>
                    <span class="sg-swatch-subText">(uses <code>$white</code>)</span>
                </p>
                <p class="sg-swatch-text">Background colour for content and text panels.<br></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--offWhite</code>)</span>
                </p>
                <p class="sg-swatch-text">Used for page background (and most grey backgrounds).</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-yellow--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg-notification</code>
                    <span class="sg-swatch-subText">(uses <code>$yellow--light</code>)</span>
                </p>
                <p class="sg-swatch-text">Background colour used for generic alert notifications.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-green--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg-accept</code>
                    <span class="sg-swatch-subText">(uses <code>$green--offWhite</code>)</span>
                </p>
                <p class="sg-swatch-text">Background colour used for 'acceptance' or 'added' messages.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg-info</code>
                    <span class="sg-swatch-subText">(uses <code>$blue--offWhite</code>)</span>
                </p>
                <p class="sg-swatch-text">Background colour used for 'information' notifications or boxes.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-bg-error</code>
                    <span class="sg-swatch-subText">(uses <code>$red--offWhite</code>)</span>
                </p>
                <p class="sg-swatch-text">Background colour used for 'error' alerts.</p>
            </div>
        </div>
    </li>
</ul>

---

## Keylines / Separators

Colours to be used for keylines or separators for page content.


<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--lightest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-border</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--lightest</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour used for keylines and separators between content and components.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--lighter">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-border--interactive</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--lighter</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour for keylines around interactive controls, such as checkboxes.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--lightest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$hr-color</code>
                    <span class="sg-swatch-subText">(uses <code>$grey--lightest</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour of page separators – <code>hr</code> tags.</p>
            </div>
        </div>
    </li>
</ul>

---


## Marketing/Brand Specific Colours

Colours to be used purely for marketing purposes.


<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-purple">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-btas-primary</code>
                    <span class="sg-swatch-subText">(uses <code>$purple</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour used BTA Marketing Awards – Primary Colour.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-purple--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p>
                    <code>$color-btas-bg</code>
                    <span class="sg-swatch-subText">(uses <code>$purple--light</code>)</span>
                </p>
                <p class="sg-swatch-text">Colour used BTA Marketing Awards – Background Colour.</p>
            </div>
        </div>
    </li>
</ul>

<hr class="sectionSplitter" />


## Full Brand Colour Palette

For reference, this is the full set of brand approved colours available to use in your projects and components.

Remember, when using the colours, it’s best to abstract these out to variables that are more relevant to your component (i.e. `$btn-bg`) so that should the colour palette change and a colour get deleted, it makes updating your own dependent colours much easier.

---

## Grey Palette

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--offWhite</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--lightest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--lightest</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--lighter">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--lighter</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--light</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--mid">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--mid</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--dark</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-grey--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$grey--darkest</code></p>
            </div>
        </div>
    </li>
</ul>

---

## Red Palette

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$red</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$red--offWhite</code></p>
                <p class="sg-swatch-text">Variant of <code>$red</code> for background states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$red--dark</code></p>
                <p class="sg-swatch-text">Variant of <code>$red</code> for hover/focus states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-red--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$red--darkest</code></p>
                <p class="sg-swatch-text">Variant of <code>$red</code> for active states.</p>
            </div>
        </div>
    </li>
</ul>

---

## Blue Palette

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue--offWhite</code></p>
                <p class="sg-swatch-text">Variant of <code>$blue</code> for background states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue--dark</code></p>
                <p class="sg-swatch-text">Variant of <code>$blue</code> for hover/focus states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue--darkest</code></p>
                <p class="sg-swatch-text">Variant of <code>$blue</code> for active states.</p>
            </div>
        </div>
    </li>
</ul>

---

## Green Palette

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-green">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$green</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-green--offWhite">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$green--offWhite</code></p>
                <p class="sg-swatch-text">Variant of <code>$green</code> for background states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-green--dark">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$green--dark</code></p>
                <p class="sg-swatch-text">Variant of <code>$green</code> for hover/focus states.</p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-green--darkest">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$green--darkest</code></p>
                <p class="sg-swatch-text">Variant of <code>$green</code> for active states.</p>
            </div>
        </div>
    </li>
</ul>

---

## Miscellaneous Colours

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-orange">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$orange</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-yellow--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$yellow--light</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-purple">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$purple</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-purple--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$purple--light</code></p>
            </div>
        </div>
    </li>
</ul>

---

## AA Large Colours

These colours are not AA accessibility compliant unless used on text of 18px font-size or higher.  They can also be used for incidental background colours.

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-brandPink">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$brand--pink</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-brandOrange">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$brand--orange</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-brandGreen">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$brand--green</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-brandBlue">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$brand--blue</code></p>
            </div>
        </div>
    </li>
</ul>


## Secondary non-AA Accessible Colours

These are incidental colours only to be used for decoration - never as text

<ul class="u-unstyled g g--gutter">
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue--light</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-blue--lighter">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$blue--lighter</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-yellow">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$yellow</code></p>
            </div>
        </div>
    </li>
    <li class="g-col g-span6 g-span3--mid">
        <div class="sg-swatch sg-color-orange--light">
            <div class="sg-swatch-color"></div>
            <div class="sg-swatch-desc">
                <p><code>$orange--light</code></p>
            </div>
        </div>
    </li>
</ul>










