---
title: Typography
section-title: Design Elements
description:
docs: true

navgroup: styleguide
navsub: design-els
navactive: typography

wip: true
---

This page documents the typography available in fozzie, as defined in the Just Eat brand guidelines.

**Important** – To view the mobile versions of these typefaces please switch to mobile view.
**Important** - The font sizes for content typography has been bumped up for documentation reasons, content may appear as 16 instead of 14.

<!-- Typography -->

---
## Homepage & Landing Pages

<div class="g g--gutter">
    <div class="g-col g-span3--mid sg-typeSpecimen"><h1>Home Page Section Title</h1></div>
    <div class="g-col g-span6--mid sg-typeSpecimen">
        <h1>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1><br>
        <h1>abcdefghijklmnopqrstuvwxyz</h1> <br>
        <h1>0123456789 (.,:;?!£$@*&)</h1>
    </div>
    <div class="g-col g-span3--mid l-align--end">
        <p>Ubuntu</p>
        <p class="u-noSeparator"><span class="u-text-soften">Size: </span>32</p>
        <p class="u-noSeparator"><span class="u-text-soften">M size: </span>20</p>
        <p class="u-noSeparator"><span class="u-text-soften">Weight: </span>300</p>
        <p class="u-noSeparator"><span class="u-text-soften">Style: </span>Normal</p>
    </div>
</div>

---
## All other pages
## Headers

<div class="g g--gutter">
    <div class="g-col g-span3--mid sg-typeSpecimen"><h1>H1</h1></div>
    <div class="g-col g-span6--mid sg-typeSpecimen">
        <h1>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1><br>
        <h1>abcdefghijklmnopqrstuvwxyz</h1> <br>
        <h1>0123456789 (.,:;?!£$@*&)</h1>
    </div>
    <div class="g-col g-span3--mid l-align--end">
        <p>Ubuntu</p>
        <p class="u-noSeparator"><span class="u-text-soften">Size: </span>32</p>
        <p class="u-noSeparator"><span class="u-text-soften">M size: </span>24</p>
        <p class="u-noSeparator"><span class="u-text-soften">Weight: </span>300</p>
        <p class="u-noSeparator"><span class="u-text-soften">Style: </span>Normal</p>
    </div>
</div>

---

<div class="g g--gutter">
    <div class="g-col g-span3--mid sg-typeSpecimen"><h2>H2</h2></div>
    <div class="g-col g-span6--mid sg-typeSpecimen">
        <h2>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h2><br>
        <h2>abcdefghijklmnopqrstuvwxyz</h2> <br>
        <h2>0123456789 (.,:;?!£$@*&)</h2>
    </div>
    <div class="g-col g-span3--mid l-align--end">
        <p>Ubuntu</p>
        <p class="u-noSeparator"><span class="u-text-soften">Size: </span>24</p>
        <p class="u-noSeparator"><span class="u-text-soften">M size: </span>20</p>
        <p class="u-noSeparator"><span class="u-text-soften">Weight: </span>300</p>
        <p class="u-noSeparator"><span class="u-text-soften">Style: </span>Normal</p>
    </div>
</div>

---

<div class="g g--gutter">
    <div class="g-col g-span3--mid sg-typeSpecimen"><h3>H3</h3></div>
    <div class="g-col g-span6--mid sg-typeSpecimen">
        <h3>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3><br>
        <h3>abcdefghijklmnopqrstuvwxyz</h3> <br>
        <h3>0123456789 (.,:;?!£$@*&)</h3>
    </div>
    <div class="g-col g-span3--mid l-align--end">
        <p>Ubuntu</p>
        <p class="u-noSeparator"><span class="u-text-soften">Size: </span>20</p>
        <p class="u-noSeparator"><span class="u-text-soften">M size: </span>16</p>
        <p class="u-noSeparator"><span class="u-text-soften">Weight: </span>300</p>
        <p class="u-noSeparator"><span class="u-text-soften">Style: </span>Normal</p>
    </div>
</div>

---
## Body

<div class="g g--gutter">
    <div class="g-col g-span3--mid sg-content sg-typeSpecimen"><p>Body Copy</p></div>
    <div class="g-col g-span6--mid sg-content sg-typeSpecimen">
        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p><br>
        <p>abcdefghijklmnopqrstuvwxyz</p> <br>
        <p>0123456789 (.,:;?!£$@*&)</p>
    </div>
    <div class="g-col g-span3--mid l-align--end">
        <p>Hind Vadodara</p>
        <p class="u-noSeparator"><span class="u-text-soften">Size: </span>14</p>
        <p class="u-noSeparator"><span class="u-text-soften">M size: </span>14</p>
        <p class="u-noSeparator"><span class="u-text-soften">Weight: </span>300</p>
        <p class="u-noSeparator"><span class="u-text-soften">Style: </span>Normal</p>
    </div>
</div>
