---
title: Typography
section-title: Design Elements
description:
docs: true

navgroup: styleguide
navsub: design-els
navactive: typography

wip: true
---

Without colours, our sites would be pretty boring.

This page documents the typography available in fozzie, as defined in the Just Eat brand guidelines.

**Important** – To view the mobile versions of these typefaces please switch to mobile view.
**Important** - The font sizes for content typography has been bumped up for documentation reasons, content may appear as 16 instead of 14.

<!-- Typography -->

---
## Homepage & Landing Pages

<h1>Homepage Section Title</h1>
<p>Desktop & Table Size: 32 Mobile Size: 20</p>

---
## All other pages
## Headers

<h1>H1 Header</h1>
<p>Desktop & Table Size: 32 Mobile Size: 20</p>

<h2>H2 Header</h2>
<p>Desktop/Tablet Size: 24 Mobile Size: 20</p>

<h3>H3 Header</h3>
<p>Desktop/Tablet Size: 20 Mobile Size: 16</p>

---
## Body

<div class="sg-content">
    <p>Body Copy</p>
    <p>Desktop/Tablet Size: 14 Mobile Size: 14</p>
</div>
