//
// je-old-ie.scss – © JUST EAT
//
// Sets up the styles to be included in all old IE versions (<IE8)

// When true, will include old IE styles (using mixin)
$old-ie: true;

$im-media-support: false;
$im-no-media-breakpoint: 'wide';

//import our scss file dependencies
@import 'dependencies';
