{{> html_start }}

	{{> masthead }}

    <div class="l-container sg-page">
        <div class="g g--gutter g--stack">
            <div class="g-col g-span2--mid">
                {{> subnav--sidebar }}
            </div>
            <div class="g-col g-span10--mid">
                <div class="card card--rounded">
                    <h1>{{ title }}</h1>
                    {{#markdown}}
{% body %}
                    {{/markdown}}
                </div>
            </div>
        </div>
    </div><!-- Close .l-container -->

{{> html_end }}
