<span class="c-badge c-badge--info c-badge--rounded l-centered">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/delivery.svg"
        class="c-icon c-icon--inline c-icon--delivery c-icon--delivery--small c-icon--green u-spacingRight"}}
    Delivery free • Min order £10
</span>
