<span class="c-badge c-badge--warning c-badge--rounded l-centered">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/delivery.svg"
        class="c-icon c-icon--inline c-icon--delivery c-icon--delivery--small c-icon--orange u-spacingRight"}}
    Order now • Delivering from 18:30
</span>
