<span class="c-badge c-badge--alert c-badge--rounded l-centered">
    {{inlineSVG "@justeat/f-icons/src/img/icons/general/alert.svg"
        class="c-icon c-icon--inline c-icon--alert u-spacingRight"}}
    Not taking orders
</span>
