---
title: Component Library
docs: false

layout: site-frame
styleguide: true
---

<div id="CookieAnchor"></div>
<main id="skipToMain" class="l-container" role="main">
  <div class="g g--stacked g--alignCenter l-content">
    <div class="g-col g-span10--mid g-span9--wide g-span8--huge">
      <div class="l-content-header l-content-header--centred l-content-header--highlight">
        <h1>Cookie Banner Page</h1>
    </div>
    <div class="l-content-main u-lightenBg">
      <p>The cookie banner should appear below...</p>
    </div>
  </div>
</main>
