// =================================
// Variables
// ----------
// Specific to the documentation
// =================================

$styleguide-color-primary: $color-primary;
$assetPath: '../../../assets/dist'; //relative for gh-pages

$rating-levels: (
    02  : 0.2,
    05  : 0.5,
    06  : 0.6,
    08  : 0.8,
    10  : 1,
    12  : 1.2,
    15  : 1.5,
    16  : 1.6,
    18  : 1.8,
    20  : 2,
    22  : 2.2,
    25  : 2.5,
    26  : 2.6,
    28  : 2.8,
    30  : 3,
    32  : 3.2,
    35  : 3.5,
    36  : 3.6,
    38  : 3.8,
    40  : 4,
    42  : 4.2,
    45  : 4.5,
    46  : 4.6,
    48  : 4.8,
    50  : 5,
    52  : 5.2,
    55  : 5.5,
    56  : 5.6,
    58  : 5.8,
    60  : 6
);
