<div class="c-btnToggle">
    <div class="g">
        <div class="c-btnToggle-item g-col g-span6 g g--alignCenter g--alignCenter--v g g-span6">
            <input type="radio" name="radios" class="c-btnToggle-input" id="radio-1" checked />
            <label for="radio-1" class="c-btnToggle-label g g--alignCenter g--alignCenter--v">
                Collection
            </label>
        </div>
        <div class="c-btnToggle-item g-col g-span6 g g--alignCenter g--alignCenter--v">
            <input type="radio" class="c-btnToggle-input" name="radios" id="radio-2" />
            <label for="radio-2" class="c-btnToggle-label g g--alignCenter g--alignCenter--v">
                Delivery 3€
            </label>
        </div>
    </div>
    <div class="g">
        <div class="g-col g-span6 g g--alignCenter g--alignCenter--v">30 mins</div>
        <div class="g-col g-span6 g g--alignCenter g--alignCenter--v">60 mins</div>
    </div>
</div>
