<ul class="c-breadcrumb u-unstyled u-clearfix">   
    <li class="c-breadcrumb-item c-breadcrumb-item--home" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a class="c-breadcrumb-item-link" href="#" itemprop="url" title="Home link">
            <span itemprop="title">{{secondparent}}</span>
        </a>
    </li>
    <li class="c-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a class="c-breadcrumb-item-link" href="#" itemprop="url" title="Second level Link">
            <span itemprop="title">{{firstparent}}</span>
        </a>
    </li>
    <li class="c-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title">{{current}}</span>
    </li>
</ul>
