<div class="c-countrySelector">
    <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
        {{> je-svg-sprite cssClass="c-icon--flag--small" spriteId="icons-flags-flag.gb" }}
        <p>United Kingdom</p>
        {{> je-svg-sprite cssClass="c-countrySelector-chevron c-icon--chevron--small" spriteId="icons-arrows-chevron" }}
    </a>
    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        {{> je-country-selector-item countryName="Brazil" countryCode="br"}}
        {{> je-country-selector-item countryName="Canada" countryCode="ca"}}
        {{> je-country-selector-item countryName="Denmark" countryCode="dk"}}
        {{> je-country-selector-item countryName="France" countryCode="fr"}}
        {{> je-country-selector-item countryName="Ireland" countryCode="ie"}}
        {{> je-country-selector-item countryName="Italy" countryCode="it"}}
        {{> je-country-selector-item countryName="Norway" countryCode="no"}}
        {{> je-country-selector-item countryName="Spain" countryCode="es"}}
        {{> je-country-selector-item countryName="Switzerland" countryCode="ca"}}
        {{> je-country-selector-item countryName="United Kingdom" countryCode="gb" selected=true}}
    </ul>
</div>
