<div class="c-countrySelector">
    <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
        <svg class="c-icon--flag--small">
            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-flags-flag.gb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <p>United Kingdom</p>
        <svg class="c-countrySelector-chevron c-icon--chevron--small">
            <use xlink:href="{{baseUrl}}/assets/img/sprite.svg#icons-arrows-chevron" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        {{> je-country-selector-item countryName="Brazil" countryCode="br"}}
        {{> je-country-selector-item countryName="Canada" countryCode="ca"}}
        {{> je-country-selector-item countryName="Denmark" countryCode="dk"}}
        {{> je-country-selector-item countryName="France" countryCode="fr"}}
        {{> je-country-selector-item countryName="Ireland" countryCode="ie"}}
        {{> je-country-selector-item countryName="Italy" countryCode="it"}}
        {{> je-country-selector-item countryName="Norway" countryCode="no"}}
        {{> je-country-selector-item countryName="Spain" countryCode="es"}}
        {{> je-country-selector-item countryName="Switzerland" countryCode="ca"}}
        {{> je-country-selector-item countryName="United Kingdom" countryCode="gb" selected=true}}
    </ul>
</div>
