<a class="c-cuisinesWidget {{ optionalClassNames }}" href="#">
    <img src="{{ cuisinesImage }}" alt="" class="c-cuisinesWidget-img">
    <h3 class="c-cuisinesWidget-name">{{ cuisinesnName }}</h3>
</a>
