<div class="c-cuisinesCollage l-innerContainer--verticalSpacing u-text-centre">
    <h2 class="u-text-centre u-spacingBottom alpha">
        Great local takeaways
    </h2>
    <p class="u-text-centre u-noSpacing">
        Order for delivery or collection from the best selection of independent restaurants
    </p>
    <div class="c-cuisinesCollage-items u-spacingTop--large">
        <div class="c-cuisinesCollage-item">
            <button class="o-btn o-btnLink">
                <picture>
                    <source
                        media="(min-width: 415px)" srcset="/assets/img/examples/collage/burger-wide_1x.jpg 1x,
                        /assets/img/examples/collage/burger-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/burger-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/burger-narrow_2x.jpg 2x">
                    <img                        src="/assets/img/examples/collage/burger-wide_1x.jpg" alt="Search for burger restaurants">
                </picture>
            </button>
        </div>
        <div class="c-cuisinesCollage-item">
            <button class="o-btn o-btnLink">
                <picture>
                    <source media="(min-width: 415px)" srcset="/assets/img/examples/collage/curry-wide_1x.jpg 1x,
                        /assets/img/examples/collage/curry-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/curry-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/curry-narrow_2x.jpg 2x">
                    <img src="/assets/img/examples/collage/curry-wide_1x.jpg" alt="Search for curry restaurants">
                </picture>
            </button>
            <button class="o-btn o-btnLink">
                <picture>
                    <source media="(min-width: 415px)" srcset="/assets/img/examples/collage/salad-wide_1x.jpg 1x,
                        /assets/img/examples/collage/salad-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/salad-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/salad-narrow_2x.jpg 2x">
                    <img src="/assets/img/examples/collage/salad-wide_1x.jpg" alt="Search for salad restaurants">
                </picture>
            </button>
        </div>
        <div class="c-cuisinesCollage-item">
            <button class="o-btn o-btnLink">
                <picture>
                    <source media="(min-width: 415px)" srcset="/assets/img/examples/collage/pasta-wide_1x.jpg 1x,
                        /assets/img/examples/collage/pasta-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/pasta-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/pasta-narrow_2x.jpg 2x">
                    <img src="/assets/img/examples/collage/pasta-wide_1x.jpg" alt="Search for pasta restaurants">
                </picture>
            </button>
        </div>
        <div class="c-cuisinesCollage-item">
            <button class="o-btn o-btnLink">
                <picture>
                    <source media="(min-width: 415px)" srcset="/assets/img/examples/collage/pizza-wide_1x.jpg 1x,
                        /assets/img/examples/collage/pizza-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/pizza-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/pizza-narrow_2x.jpg 2x">
                    <img src="/assets/img/examples/collage/pizza-wide_1x.jpg" alt="Search for pizza restaurants">
                </picture>
            </button>
            <button class="o-btn o-btnLink">
                <picture>
                    <source media="(min-width: 415px)" srcset="/assets/img/examples/collage/sushi-wide_1x.jpg 1x,
                        /assets/img/examples/collage/sushi-wide_2x.jpg 2x">
                    <source srcset="/assets/img/examples/collage/sushi-narrow_1x.jpg 1x,
                        /assets/img/examples/collage/sushi-narrow_2x.jpg 2x">
                    <img src="/assets/img/examples/collage/sushi-wide_1x.jpg" alt="Search for sushi restaurants">
                </picture>
            </button>
        </div>
    </div>
    <button class="o-btn o-btn--secondary c-cuisinesCollage-btn" @click="cuisineClick">
    Find a restaurant
    </button>
</div>
