<span class="o-formToggle {{typeclass}}">
    {{#if isButton}}
        {{> je-svg-sprite cssClass="o-formToggle--buttonIcon c-icon--cuisine" spriteId="icons-general-cuisine" }}        
    {{/if}}
    <input class="o-formToggle-input is-visuallyHidden" type="checkbox" id="{{inputid}}">
    <label class="o-formToggle-text" for="{{inputid}}">
        Form Toggle
    </label>
</span>