<div class="c-pageBanner {{ optionalClassNames }}">
    <picture>
        <source class="c-pageBanner-img" media="(min-width: 860px)" srcset="{{ srcSetWide }}" data-ft="restaurant-level-image--wide">
        <source class="c-pageBanner-img" media="(min-width: 600px)" srcset="{{ srcSetMid }}" data-ft="restaurant-level-image--mid">
        <img class="c-pageBanner-img" srcset="{{ srcSetNarrow }}" alt="" data-ft="restaurant-level-image--narrow" >
    </picture>
</div>
