<div class="c-fullScreenPopOver is-active">
    <div class="c-fullScreenPopOver-header">
        <a class="c-fullScreenPopOver-header-actionFirst">Cancel</a>
        <h3  class="c-fullScreenPopOver-header-title">Popover title</h3>
        <a class="c-fullScreenPopOver-header-actionSecond">Reset</a>
    </div>
    <div class="c-fullScreenPopOver-footer">
        <a class="o-btn o-btn--block o-btn--primary">Popover CTA</a>
    </div>
</div>