<div class="c-pageBanner c-pageBanner--negativeBottom--aboveMid">
    <picture>
        <source class="c-pageBanner-img" media="(min-width: 860px)" srcset="{{baseUrl}}/assets/img/examples/kebabs--wide.jpg" data-ft="restaurant-level-image--wide">
        <source class="c-pageBanner-img" media="(min-width: 600px)" srcset="{{baseUrl}}/assets/img/examples/kebabs--mid.jpg" data-ft="restaurant-level-image--mid">
        <img class="c-pageBanner-img" srcset="{{baseUrl}}/assets/img/examples/kebabs--narrow.jpg" alt="" data-ft="restaurant-level-image--narrow" >
    </picture>
</div>
