<section class="c-listing-item" itemscope="" itemtype="http://schema.org/Restaurant" data-restaurant-id="123" data-test-id="123">
    <a href="#" class="c-listing-item-link u-clearfix" itemscope="" itemtype="http://schema.org/Restaurant"
       title="View the Menu for Fozzie Kebab">
        <div class="c-listing-item-img">
            <img class="js-lazy c-listing-item-imgItem" data-ft="restaurantDetailsLogo" src="{{ baseUrl }}/assets/img/examples/restaurant-logo.gif" alt="Fozzie Kebab" />
            <noscript>
                <img class="c-listing-item-imgItem" src="{{ baseUrl }}/assets/img/examples/restaurant-logo.gif" alt="Fozzie Kebab" itemprop="image" />
            </noscript>
        </div>
        <p class="c-listing-item-meta">
            <span class="c-badge"><strong>Sponsored</strong></span>
        </p>
        <div class="c-listing-item-info">
            <h3 class="c-listing-item-title" itemprop="name">Fozzie Kebab</h3>
            <div class="c-listing-item-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                {{> je-star-ratings size-class="c-listing-item-ratingStars" star-rating='55' }}
                <span class="c-listing-ratingText">(150)</span>
                <meta itemprop="ratingValue" content="5.5">
                <meta itemprop="itemreviewed" content="">
                <meta itemprop="ratingCount" content="150">
                <meta itemprop="bestRating" content="6">
                <meta itemprop="worstRating" content="0">
            </div>
            <p class="c-listing-item-text" itemprop="servesCuisine"><strong>Cuisine Type</strong></p>
        </div>
        <p class="c-listing-item-distance c-listing-item-text" itemprop="TravelAction" itemscope="" itemtype="http://schema.org/distance">
            {{> je-svg-sprite cssClass="c-listing-item-distanceIcon c-icon--mapPin" spriteId="icons-tools-mapPin" }}
            0.1 miles
        </p>
        <div class="c-listing-item-details">
            <p class="c-listing-item-text">Delivery fee: £1</p>
            <p class="c-listing-item-text">Spend £10 for delivery</p>
        </div>
    </a>
</section>
