---
title: Footers
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: footers
layout: components
---


<h2 class="sg-sectionHeading">Default Footer</h2>
<p>Default bog-standard Footer Component</p>

{{#>demo-block }}
{{> je-footer }}
{{/demo-block }}
