<div class="demo">
    <div class="demo-visual">
        <h4 class="demo-title">Example</h4>
        <div class="demo-visual-wrapper">
            {{> @partial-block }}
        </div>
    </div>
    <div class="demo-code">
    {{#markdown}}
```markup
{{> @partial-block }}
```
    {{/markdown}}
    </div>
</div>
