
        <script>
            var mockPaths = {
            };
        </script>
        <script src="{{ baseUrl }}/assets/js/script.min.js"></script>
        <script src="{{ baseUrl }}/assets/js/docs.min.js"></script>
	</body>
</html>
