
        <script>
            var customScriptPaths = [
                '{{ baseUrl }}/assets/js/docs-script.min.js'
            ],
            mockPaths = {
            };
        </script>
        <script src="{{ baseUrl }}/assets/js/script.min.js"></script>
	</body>
</html>
