
        <script>
            var customScriptPaths = [
                '{{ baseUrl }}/assets/dist/js/docs-script.js'
            ],
            mockPaths = {
            };
        </script>
        <script src="{{ baseUrl }}/assets/dist/js/script.js"></script>
	</body>
</html>
