---
title: Badges
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: badges
---

<p><em>The <code>badge</code> component is an optional mixin within Fozzie — if you'd like to use it in your project you can include it by adding <code>@include badge();</code> into your SCSS dependencies file.</em></p>

<p>Badges can be used to display small pieces of information.</p>

<h2 class="sg-sectionHeading">Default Badge – <code>.c-badge</code></h2>
{{#>demo-block }}
<span class="c-badge">Badge</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Rounded Badge – <code>.c-badge c-badge--rounded</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--rounded">Rounded</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Light Badge – <code>.c-badge c-badge--light</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--light">Light <span>•</span> badge</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Info Badge – <code>.c-badge c-badge--info</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--info">Info</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Warning Badge – <code>.c-badge c-badge--warning</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--warning">Warning</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Alert Badge – <code>.c-badge c-badge--alert</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--alert">Alert</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Large Badge – <code>.c-badge c-badge--large</code></h2>
{{#>demo-block }}
<span class="c-badge c-badge--large">Large</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Large Badges</h2>
{{#>demo-block }}
<span class="c-badge c-badge--large c-badge--light">Light</span>
<span class="c-badge c-badge--large c-badge--info">Info</span>
<span class="c-badge c-badge--large c-badge--warning">Warning</span>
<span class="c-badge c-badge--large c-badge--alert">Alert</span>
{{/demo-block }}

<h2 class="sg-sectionHeading">Large Rounded Badges</h2>
{{#>demo-block }}
<span class="c-badge c-badge--large c-badge--rounded c-badge--light">Light</span>
<span class="c-badge c-badge--large c-badge--rounded c-badge--info">Info</span>
<span class="c-badge c-badge--large c-badge--rounded c-badge--warning">Warning</span>
<span class="c-badge c-badge--large c-badge--rounded c-badge--alert">Alert</span>
{{/demo-block }}
