---
title: Breadcrumbs
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: breadcrumbs
---

<h2 class="sg-sectionHeading">Breadcrumbs</h2>
{{#>demo-block }}
{{>je-breadcrumbs current='Last Level' firstParent='First Parent' secondParent='Second Parent'}}
{{/demo-block }}
