---
title: Breadcrumbs
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: breadcrumbs
layout: components
---

<h2 class="sg-sectionHeading">Breadcrumbs</h2>
{{#>demo-block }}
{{> je-breadcrumbs current='Last Level' firstparent='First Parent' secondparent='Second Parent' }}
{{/demo-block }}
