---
title: Buttons
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: buttons
---

<h2 class="sg-sectionHeading">Default Button – <code>.c-btn</code></h2>
{{#>demo-block }}
{{> je-btn-simple text='Button' classname='c-btn' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Button Background Color Modifiers</h2>
{{#>demo-block }}
{{> je-btn-simple text='Button Primary' classname='c-btn c-btn--primary' }}
{{> je-btn-simple text='Button Positive' classname='c-btn c-btn--positive' }}
{{> je-btn-simple text='Button Negative' classname='c-btn c-btn--negative' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Button secondary and tertiary Modifiers</h2>
<p>The secondary button must be used on white background and the tertiary on grey.</p>
{{#>demo-block }}
{{> je-btn-simple text='Button Secondary' classname='c-btn c-btn--secondary' }}
{{> je-btn-simple text='Button Tertiary' classname='c-btn c-btn--tertiary' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Block Button – <code>.c-btn.c-btn--block</code></h2>
{{#>demo-block }}
{{> je-btn-simple text='Button Block' classname='c-btn c-btn--block' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Button Link – <code>.c-btnLink</code></h2>
<p>Make a button visually look like a default link.  Useful when we semantically want a button but don’t want all the default styling.</p>
<p>Should only be applied to buttons</p>
{{#>demo-block }}
{{> je-btn-simple text='Button Link' classname='c-btnLink' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Outline Button – <code>.c-btn.c-btn--outline</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple text='Button Outline' classname='c-btn c-btn--outline' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Transparent Button – <code>.c-btn.c-btn--transparent</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple text='Button Transparent' classname='c-btn c-btn--transparent' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Small Button – <code>.c-btn.c-btn--small</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple text='Button Small' classname='c-btn c-btn--small' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Disabled Button – <code>.c-btn.c-btn--disabled</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple text='Button Disabled' classname='c-btn c-btn--disabled' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Rounded Icon Button – <code>.c-btn.c-btn--roundedIcon</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple classname='c-btn c-btn--roundedIcon icon--minus' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Small rounded Icon Button – <code>.c-btn.c-btn--roundedIcon.c-btn--roundedIcon--small</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple classname='c-btn c-btn--roundedIcon c-btn--roundedIcon--small icon--minus' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Rounded Button – <code>.c-btn.c-btn--rounded</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-simple text='+' classname='c-btn c-btn--rounded' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Remove Button – <code>.c-btn.c-btn--remove</code></h2>
{{#>demo-block }}
{{> je-btn-simple text='-' classname='c-btn c-btn--remove' }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Button Group – <code>.c-btn-group .c-btn</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-group }}
{{/demo-block }}


<h2 class="sg-sectionHeading" id="btnToggle">Button Toggle – <code>.c-btnToggle</code></h2>
<p></p>
{{#>demo-block }}
{{> je-btn-toggle }}
{{/demo-block }} 