---
title: Footers
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: footers
---

<h2 class="sg-sectionHeading">Default Site Footer</h2>

{{#>demo-block }}
{{> je-footer }}
{{/demo-block }}
