---
title: UI Components
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: index
---

<div class="sg-index">

{{#markdown}}

## Note. Only components that are part of the global platform should be added to this page of components!

<div class="g g--gutter g--stack--mid">
    <div class="g-col g-span4">

### Objects

    </div><div class="g-col g-span4">

### Components


    </div><div class="g-col g-span4">

### Experiments


    </div>
</div>

{{/markdown}}

</div>
