---
title: UI Components
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: index
---

Note. Only components that are part of the global platform should be added to this page of components.

<div class="g g--gutter g--stack--mid">
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Objects</h3>

- [Buttons](buttons)
- [Checkboxes](forms/checkboxes)
- [Radio Buttons](forms/radio-buttons)
        {{/markdown}}
    </div>
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Components</h3>

- [Breadcrumbs](breadcrumbs)
- [Cards](cards)
- [Media Element](mediaElement)
        {{/markdown}}
    </div>
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Optional Components</h3>

- [Badges](badges)
- [Listings](listings)
- [Menu](menu)
- [Page Banners](page-banner)
- [Ratings](star-ratings)
- [Toast](toast)
- [Icons](ui-icons)
- [Headers](headers/)
- [Footers](footers/)
- [Cuisines Widget](cuisines-widget)
- [Apps Banner](apps-banner)
- [Previous Order Card](previous-order-card)
        {{/markdown}}
    </div>
</div>
