---
title: UI Components
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: index
---

Note. Only components that are part of the global platform should be added to this page of components.

<div class="g g--gutter g--stack--mid">
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Objects</h3>

- [Buttons](buttons)
- [Checkboxes](forms/checkboxes)
- [Radio Buttons](forms/radio-buttons)
        {{/markdown}}
    </div>
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Components</h3>

- [Headers](headers/)
- [Footers](footers/)
- [Breadcrumbs](breadcrumbs)
- [Star Ratings](star-ratings)
- [Listings](listings)
- [Media Element](mediaElement)
- [Icons](ui-icons)
        {{/markdown}}
    </div>
    <div class="g-col g-span4">
        {{#markdown}}
<h3 class="sg-sectionHeading">Optional Components</h3>

- [Cards](cards)
- [Badges](Badges)
- [Page Banners](page-banner)
        {{/markdown}}
    </div>
</div>
