---
title: Listings
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: listings
layout: components
---
<p>A listing of items.  Visually split by separators</p>

<h2 class="sg-sectionHeading">Fully linked Listing Items with Address</h2>

{{#>demo-block baseUrl=../baseUrl }}
    {{> je-restaurant-listing-container listingType='je-restaurant-listing' }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Fully linked Listing Items with Distance</h2>

{{#>demo-block baseUrl=../baseUrl }}
    {{> je-restaurant-listing-container listingType='je-restaurant-listing--delivery' }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Fully linked Listing Items Offline</h2>

{{#>demo-block baseUrl=../baseUrl }}
    {{> je-restaurant-listing-container listingType='je-restaurant-listing--delivery' classname='c-listing--offline'}}
{{/demo-block }}