---
title: Listings
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: listings
---
<p>A listing of items.  Visually split by separators</p>

<h2 class="sg-sectionHeading">Fully linked Listing Items with Address</h2>

{{#>demo-block baseUrl=../baseUrl }}
<div class="c-listing">
    {{> je-restaurant-listing }}
    {{> je-restaurant-listing }}
    {{> je-restaurant-listing }}
</div>
{{/demo-block }}

<h2 class="sg-sectionHeading">Fully linked Listing Items with Distance</h2>

{{#>demo-block baseUrl=../baseUrl }}
<div class="c-listing">
    {{> je-restaurant-listing--delivery }}
    {{> je-restaurant-listing--delivery }}
    {{> je-restaurant-listing--delivery }}
</div>
{{/demo-block }}

<h2 class="sg-sectionHeading">Fully linked Listing Items Offline</h2>

{{#>demo-block baseUrl=../baseUrl }}
<div class="c-listing c-listing--offline">
    {{> je-restaurant-listing--delivery }}
    {{> je-restaurant-listing--delivery }}
    {{> je-restaurant-listing--delivery }}
</div>
{{/demo-block }}