---
title: Listings
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: listings
---
<p>A listing of items.  Visually split by separators</p>

<h3>Fully linked Listing Items</h3>
<p>Listing in which each `list–item` is a link (so that the whole item is clickable).</p>
{{#>demo-block }}
{{> je-restaurant-listing }}
{{> je-restaurant-listing }}
{{> je-restaurant-listing }}
{{/demo-block }}
