---
title: Fullscreen Pop Over
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: popover
---
<p>A full screen pop over used for filters on narrow devices (please use less than mid screen to test)</p>

{{#>demo-block baseUrl=../baseUrl }}
    <div style="height: 700px; width: 300px; transform: translate3d(0,0,0)">
        {{> je-popover }}
    </div>
{{/demo-block }}