---
title: Icons
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: ui-icons
layout: components
---

<h2 class="sg-sectionHeading">General Icons</h2>

<h3 class="sg-sectionHeading">Alert – <code>.c-icon--alert</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--alert" spriteId="icons-general-alert" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Basket – <code>.c-icon--basket</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--basket" spriteId="icons-general-basket" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Collection – <code>.c-icon--collection</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--collection" spriteId="icons-general-collection" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Collection Bag– <code>.c-icon--collectionBag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--collectionBag" spriteId="icons-general-collectionBag" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Delivery – <code>.c-icon--delivery</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--delivery" spriteId="icons-general-delivery" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Delivery Small – <code>.c-icon--delivery--small</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--delivery c-icon--delivery--small" spriteId="icons-general-delivery" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Info – <code>.c-icon--info</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--info" spriteId="icons-general-info" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Padlock – <code>.c-icon--padlock</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--padlock" spriteId="icons-general-padlock" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Nut Allergy – <code>.c-icon--nutAllergy</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--nutAllergy" spriteId="icons-general-nutAllergy" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Offer – <code>.c-icon--offer</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--offer" spriteId="icons-general-offer" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Offer Small – <code>.c-icon--offer--small</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--offer c-icon--offer--small" spriteId="icons-general-offer" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Spicy – <code>.c-icon--spicy</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--spicy" spriteId="icons-general-spicy" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Tick – <code>.c-icon--tick</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--tick" spriteId="icons-general-tick" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Vegetarian – <code>.c-icon--vegetarian</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--vegetarian" spriteId="icons-general-vegetarian" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Local legends – <code>.c-icon--localLegend</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/localLegend.svg" class="c-icon c-icon--localLegend"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Local legends condensed – <code>.c-icon--localLegendCondensed</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/general/localLegendCondensed.svg" class="c-icon c-icon--localLegendCondensed"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Tool Icons</h2>

<h3 class="sg-sectionHeading">Eyeglass – <code>.c-icon--eyeglass</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--eyeglass" spriteId="icons-tools-eyeglass" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Horizontal Sliders – <code>.c-icon--slidersHorizontal</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--slidersHorizontal" spriteId="icons-tools-slidersHorizontal" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Sort Amount – <code>.c-icon--sortAmount</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--sortAmount" spriteId="icons-tools-sortAmount" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Map Pin – <code>.c-icon--mapPin</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--mapPin" spriteId="icons-tools-mapPin" }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Arrow Icons</h2>

<h3 class="sg-sectionHeading">Chevron – <code>.c-icon--chevron</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--chevron" spriteId="icons-arrows-chevron" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Small – <code>.c-icon--chevron--small</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--chevron c-icon--chevron--small" spriteId="icons-arrows-chevron" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Up – <code>.c-icon--chevron--up</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--chevron c-icon--chevron--up" spriteId="icons-arrows-chevron" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Right – <code>.c-icon--chevron--right</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--chevron c-icon--chevron--right" spriteId="icons-arrows-chevron" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Chevron Light – <code>.c-icon--chevron--light</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/arrows/chevron.svg" class="c-icon c-icon--chevron c-icon--chevron--light"}}
{{/demo-block }}


<h2 class="sg-sectionHeading">Card Icons</h2>

<h3 class="sg-sectionHeading">Amex – <code>.c-icon--amex</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--amex" spriteId="icons-cards-amex" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Amex Safekey – <code>.c-icon--amex--safekey</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--amex--safekey" spriteId="icons-cards-amex--safekey" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Dankort – <code>.c-icon--dk</code></h3>
{{#>demo-block }}
{{inlineSVG "@justeat/f-icons/src/img/icons/cards/dk.svg" class="c-icon c-icon--dk"}}
{{/demo-block }}

<h3 class="sg-sectionHeading">Interac – <code>.c-icon--interac</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--interac" spriteId="icons-cards-interac" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">MasterCard – <code>.c-icon--mastercard</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--mastercard" spriteId="icons-cards-mastercard" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">MasterCard Secure Code – <code>.c-icon--mastercard--securecode</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--mastercard--securecode" spriteId="icons-cards-mastercard--securecode" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">PayPal – <code>.c-icon--paypal</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--paypal" spriteId="icons-cards-paypal" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Visa – <code>.c-icon--visa</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--visa" spriteId="icons-cards-visa" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Visa Verified – <code>.c-icon--visa--verified</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--visa--verified" spriteId="icons-cards-visa--verified" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Maestro – <code>.c-icon--maestro</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--maestro" spriteId="icons-cards-maestro" }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Certificate Icons</h2>

<h3 class="sg-sectionHeading">Confianza – <code>.c-icon--confianza</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--confianza" spriteId="icons-certificates-confianza" }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Flag Icons</h2>

<h3 class="sg-sectionHeading">Australia – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.au" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Brazil – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.br" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Canada – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.ca" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Denmark – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.dk" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Spain – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.es" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">France – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.fr" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">United Kingdom – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.gb" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Ireland – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.ie" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Italy – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.it" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Norway – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.no" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">New Zealand – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.nz" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Switzerland – <code>.c-icon--flag</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--flag" spriteId="icons-flags-flag.ch" }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Operator Icons</h2>

<h3 class="sg-sectionHeading">Cross – <code>.c-icon--cross</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--cross" spriteId="icons-operators-cross" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Minus – <code>.c-icon--minus</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--minus" spriteId="icons-operators-minus" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Plus – <code>.c-icon--plus</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--plus" spriteId="icons-operators-plus" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Plus – <code>.c-icon--plus--thin</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--plus--thin" spriteId="icons-operators-plus--thin" }}
{{/demo-block }}


<h2 class="sg-sectionHeading">Rating Icons</h2>

<h3 class="sg-sectionHeading">Star – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star" spriteId="icons-stars-star--empty" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star" spriteId="icons-stars-star--filled" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Star Medium – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star--medium" spriteId="icons-stars-star--empty" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star--medium" spriteId="icons-stars-star--filled" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Star Large – <code>.c-icon--star</code></h3>
{{#>demo-block demoVisualCssClass="l-inlined" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star--large" spriteId="icons-stars-star--empty" }}
{{> je-svg-sprite cssClass="c-icon c-icon--star--large" spriteId="icons-stars-star--filled" }}
{{/demo-block }}

<h2 class="sg-sectionHeading">Social Icons</h2>

<h3 class="sg-sectionHeading">Facebook – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-facebook" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Google Plus – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-google-plus" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Instagram – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-instagram" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Pinterest – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-pinterest" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">RSS – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-rss" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Twitter – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-twitter" }}
{{/demo-block }}

<h3 class="sg-sectionHeading">Youtube – <code>.c-icon--social</code></h3>
{{#>demo-block }}
{{> je-svg-sprite cssClass="c-icon c-icon--social" spriteId="icons-social-icon-youtube" }}
{{/demo-block }}
