---
title: Form Toggles
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: toggle
---
<h2 class="sg-sectionHeading">Form Toggle - Default</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='1'}}
  {{> je-input-formToggle inputid='2'}}
  {{> je-input-formToggle inputid='3'}}
  {{> je-input-formToggle inputid='4'}}
{{/demo-block }}

<h2 class="sg-sectionHeading">Form Toggle - Button</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='21' typeclass='o-formToggle--button' isButton=true}}
{{/demo-block }}



<h2 class="sg-sectionHeading">Form Toggle - Default and full width</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='5' typeclass='o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='6' typeclass='o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='7' typeclass='o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='8' typeclass='o-formToggle--fullWidth'}}
{{/demo-block }}

<h2 class="sg-sectionHeading">Form Toggle - Medium</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='9' typeclass='o-formToggle--mediumSized'}}
  {{> je-input-formToggle inputid='10' typeclass='o-formToggle--mediumSized'}}
  {{> je-input-formToggle inputid='11' typeclass='o-formToggle--mediumSized'}}
  {{> je-input-formToggle inputid='12' typeclass='o-formToggle--mediumSized'}}
{{/demo-block }}

<h2 class="sg-sectionHeading">Form Toggle - Medium and full width</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='13' typeclass='o-formToggle--mediumSized o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='14' typeclass='o-formToggle--mediumSized o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='15' typeclass='o-formToggle--mediumSized o-formToggle--fullWidth'}}
  {{> je-input-formToggle inputid='16' typeclass='o-formToggle--mediumSized o-formToggle--fullWidth'}}
{{/demo-block }}

<h2 class="sg-sectionHeading">Form Toggle - Large</h2>
{{#>demo-block }}
  {{> je-input-formToggle inputid='17' typeclass='o-formToggle--largeSized'}}
  {{> je-input-formToggle inputid='18' typeclass='o-formToggle--largeSized'}}
  {{> je-input-formToggle inputid='19' typeclass='o-formToggle--largeSized'}}
  {{> je-input-formToggle inputid='20' typeclass='o-formToggle--largeSized'}}
{{/demo-block }}