---
title: Headers
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: headers
layout: components
---


<h2 class="sg-sectionHeading">Default Header</h2>
<p>Default bog-standard Header Component</p>

{{#>demo-block }}
{{> je-header loggedin=false languageSwitcher=false }}
{{/demo-block }}
