---
title: Headers
section-title: UI Components
docs: true

navgroup: styleguide
navsub: ui-components
navactive: headers
layout: components
---


<h2 class="sg-sectionHeading">Default Header</h2>
<p>Default bog-standard Header Component</p>

<div class="demo">
    <div class="demo-visual">
        <h4 class="demo-title">Example</h4>

        {{> je-header }}
    </div>

    <div class="demo-code">
    {{#markdown}}
```markup
{{> je-header }}

```
    {{/markdown}}
    </div>
</div>

