---
title: UI Templates
section-title: UI Templates
docs: true

navgroup: styleguide
navsub: ui-templates
navactive: index
---

- [Content Page – Cookie Policy]({{ baseUrl }}/styleguide/ui-templates/content-pages/cookie-policy)
- [Content Page – Privacy Policy ]({{ baseUrl }}/styleguide/ui-templates/content-pages/privacy-policy)

<!--




This is where we will build up ui-templates that can be more easily tested and viewed outside of Visual Studio.

These let us test out features faster and enable us to build front-end components much easier than we may be able to otherwise.

<div class="g g--gutter g--stack--mid">
    <div class="g-col g-span4">

### Order Flow

- Homepage
- Search Results
- Menu

    </div><div class="g-col g-span4">

### Account Pages

</div><div class="g-col g-span4">

### Misc (Content pages)

- Example Content Page (e.g. Cookie Policy)
- Thematic Pages
    - Landing Page
    - Restaurant Listing Page

    </div>
</div>
-->

