---
title: Component Library
docs: true

layout: site-frame
styleguide: true
---

<div class="u-lightenBg">
    <div class="l-container l-content">
        <div class="g g--stacked g--alignCenter">
            <div class="g-col g-span10--mid g-span9--wide g-span8--huge">
                <div class="l-content-header l-content-header--centred l-content-header--highlight">
                    <h1>Just Eat UI templates</h1>
                </div>

                <div class="l-content-main">
                    <h2>Content page</h2>
                </div>
            </div>
        </div>
    </div>
</div>
