<div class="c-card c-toast c-toast--alert">
    <div class="l-centred">
        <p><strong>This restaurant’s popular right now</strong><br />
            Delivery could take longer than usual</p>
    </div>
</div>
