//
// Placeholder
// ==========================================================================

.componentPlaceholder {
    border: 3px dashed $grey--lightest;
    margin: 5px;
    text-align: center;
}

    .componentPlaceholder-info {
        cursor: pointer;
    }
