---
title: General CSS Classes
docs: true

navgroup: styleguide
navsub: css-utilities
navactive: css-utilities
layout: components
---


<div class="sg-index">

{{#markdown}}

Utility classes available to developers for common tasks.

## Clearfix

{{/markdown}}

<h3><code>.u-clearfix</code></h3>
<p>Clear the current element so it always appears on a new line.  Can also use the clearfix mixin – <code>@include clearfix()</code> in your CSS.</p>

<div class="demo">
    <div class="demo-visual">
        <h4 class="demo-title">Example</h4>

        <span class="u-clearfix">Lorem</span>
        <span>Ipsum</span>
    </div>

    <div class="demo-code">
    {{#markdown}}
```markup
<span class="u-clearfix">Lorem</span>
<span>Ipsum</span>
```
    {{/markdown}}
    </div>
</div>
