---
title: Getting Started
section-title: General Documentation
description: Our commitment to creating an accessible platform
docs: true

navgroup: documentation
navsub: docs-general
navactive: getting-started
---

We have tried to decouple our JUST EAT’s front-end process from our .NET stack so that developing front-end code can be fast and iterative.  This also enables our front-end developers to work in the environment that is most productive for them.

Our current front-end stack uses Gulp (as our task runner), Sass and PostCSS (for our CSS processing) and Browserify with Babel (for our JavaScript).

If you are going to be developing front-end code for the JUST EAT platform, it’s recommended that you take the time to read all the sections of this documentation to get a better understanding of the tools we use and why we are using them.


<a name="proj-setup"></a>
## Setting up your Environment

For full information about setting up your local environments, see the [Onboarding Documentation](https://wiki.just-eat.com/pages/viewpage.action?title=Onboarding+Tasks&spaceKey=IENG).

For specific information about each individual environment, check out the respective README’s on the ConsumerWeb and PublicWeb repositories.


<a name="proj-gulp"></a>
## Front-end Workflow – Gulp

Gulp is a front-end task runner that automates many important tasks associated with modern front-end development.

We use Gulp on the JUST EAT platforms to tie together all of our front-end workflow tasks.  To find out more about Gulp and how we use it, take a lookat the [Gulp section of this documentation]({{ baseUrl }}/documentation/general/gulp).

