<div class="c-logo">
    <a href="/" aria-label="Just Eat Homepage">
        <div class="c-logo-img">
            <img alt="" src="{{ logoUrl }}" width="152" height="30" />
        </div>

        <span class="is-visuallyHidden">{{ i18n "companyName" }}</span>
    </a>
</div>
