---
title: Fozzie & Sass
section-title: CSS Documentation
description: Fozzie - Just Eat's component Library
docs: true

navgroup: documentation
navsub: docs-css
navactive: css-fozzie
---

Fozzie is Just Eat's UI Component Framework, built to help modularise and share the UI code we write across all of our teams at Just Eat.

To see a full description of what Fozzie is, see the '[What is Fozzie?]({{ ../baseUrl }}/documentation/general)' section of this documentation.


<a name="import"></a><h2 class="sg-sectionHeading">Importing Fozzie SCSS Modules with Eyeglass</h2>

To help with importing fozzie SCSS styles, we use a tool called [**Eyeglass**](https://github.com/sass-eyeglass/eyeglass).

Essentially, Eyeglass lets us import modules in our Sass by referencing the name of the module, rather than having to provide absolute paths into the `node_modules` folder.

For example, say you have a project and want to include the base fozzie module in your Sass build, you can do the following:

1. Install the base module using NPM or Yarn.

```bash
yarn add @justeat/fozzie
```

2. Setup Eyeglass.

    If you are using the [fozzie gulp build tasks](https://www.npmjs.com/package/@justeat/gulp-build-fozzie), then Eyeglass is automatically ready to use as part of the Sass compilation task.

    If not, then check out these integration recipes for [Gulp](https://github.com/sass-eyeglass/eyeglass/blob/master/site-src/docs/integrations/gulp.md) and [WebPack](https://github.com/sass-eyeglass/eyeglass/issues/153#issuecomment-300895607).

3. Within your project Sass files, you will then be able to import the base fozzie module like so:

```bash
@import 'fozzie';
```

When your Sass is compiled, it will include the Sass from the fozzie module as well.

If you want to check what `@import` keyword you need to include to import a module, you can check out the [Eyeglass config](https://github.com/justeat/fozzie/blob/master/package.json#L51-L60) which is located in each modules `package.json`.


